<div class="container">
    <%if(model) {%>
        <h3 class="header">model : <%= model.title %></h3>

        <%- partial("../../base/fotorama.ejs") %>

        <h3 class="header">Option you can choose</h3>
        <div class="option-container">
            <div class="row">
                <div class="col-sm-2 col-sm-offset-1 col-xs-2 option-label">Size</div>
                <div class="col-sm-9 col-xs-10 option-detail">Available upon request</div>
            </div>
            <div class="row">
                <div class="col-sm-2 col-sm-offset-1 col-xs-2 option-label">fire rating</div>
                <div class="col-sm-9 col-xs-10 option-detail">0-3 hours (3 Hours in accordance with UL10C)</div>
            </div>
            <div class="row">
                <div class="col-sm-2 col-sm-offset-1 col-xs-2 option-label">door type</div>
                <div class="col-sm-9 col-xs-10 option-detail">single door, double door / flush, flush with vision panel, flush with louver, embossed</div>
            </div>
        </div>
        <br>

        <h3 class="header">Hardware you can add</h3>
        <div class="hardware-container">
            <% for(var i=0; i<hardwares.length; i++) { %>

                <%if(hardwares[i].length>0) {%>
                    <div class="row">
                        <div class="col-sm-2 col-xs-12 col-sm-offset-1 hardware-label"><%= sails.config.enums.hardware[sorting[i]] %></div>
                        <div class="col-sm-9 col-xs-12">
                            <div class="owl-carousel browse hardware">

                                <% for(var j=0; j<hardwares[i].length; j++) { %>
                                    <div class="owl-item-btn">
                                        <div class="img-frame"><img src="<%= hardwares[i][j].image %>"></div>
                                        <div class="item-title"><%= hardwares[i][j].title %></div>
                                        <div class="item-desc"><%= hardwares[i][j].desc %></div>
                                    </div>
                                <% } %>

                            </div>
                        </div>
                    </div>
                <%}%>

            <% } %>
        </div>
        <br>

        <%- partial("../../base/product_tab.ejs") %>
        <%- partial("../../base/quote_button.ejs") %>

    <%} else {%>
        <br>
        <p class="alert alert-warning text-center">There is no requested model.</p>
    <%}%>
</div>
