<div class="container">
    <%if(model) {%>
        <h2 class="header"><%=__("model")%> : <%= model.title %></h2>

        <%- partial("../../base/fotorama.ejs") %>

        <h3 class="header"><%=__("option-you-can-choose")%></h3>
        <div class="option-container">
            <div class="row">
                <div class="col-sm-2 col-sm-offset-1 col-xs-3 option-label"><%=__("size")%></div>
                <div class="col-sm-9 col-xs-9 option-detail"><%=__("available-upon-request-doors")%></div>
            </div>
            <div class="row">
                <div class="col-sm-2 col-sm-offset-1 col-xs-3 option-label"><%=__("fire-rating")%></div>
                <div class="col-sm-9 col-xs-9 option-detail"><%=__("0-3-hours")%></div>
            </div>
            <div class="row">
                <div class="col-sm-2 col-sm-offset-1 col-xs-3 option-label"><%=__("door-style")%></div>
                <div class="col-sm-9 col-xs-9 option-detail"><%=__("door-style-p1")%></div>
            </div>
            <div class="row">
                <div class="col-sm-2 col-sm-offset-1 col-xs-3 option-label"><%=__("door-type")%></div>
                <div class="col-sm-9 col-xs-9 option-detail"><%=__("door-type-p1")%></div>
            </div>
            <div class="row">
                <div class="col-sm-2 col-sm-offset-1 col-xs-3 option-label"><%=__("vision-panel")%></div>
                <div class="col-sm-9 col-xs-9 option-detail"><%=__("vision-panel-p1")%></div>
            </div>
            <!-- <div class="row">
                <div class="col-sm-2 col-sm-offset-1 col-xs-3 option-label"><%=__("louvers")%></div>
                <div class="col-sm-9 col-xs-9 option-detail"><%=__("louvers-p1")%></div>
            </div> -->
        </div>
        <br>

        <h3 class="header"><%=__("hardware-you-can-add")%></h3>
        <div class="hardware-container">
            <% for(var i=0; i<hardwares.length; i++) { %>

                <%if(hardwares[i].length>0) {%>
                    <div class="row">
                        <div class="col-sm-2 col-xs-12 col-sm-offset-1 hardware-label"><%= __(sails.config.enums.hardware[sorting[i]]) %></div>
                        <div class="col-sm-9 col-xs-12">
                            <div class="owl-carousel browse hardware">

                                <% for(var j=0; j<hardwares[i].length; j++) { %>
                                    <div class="owl-item-btn">
                                        <div class="img-frame"><img src="<%= hardwares[i][j].image %>" alt="<%=hardwares[i][j].title%>"></div>
                                        <div class="item-title"><%= hardwares[i][j].title %></div>
                                        <div class="item-desc"><%- hardwares[i][j].desc %></div>
                                    </div>
                                <% } %>

                            </div>
                        </div>
                    </div>
                <%}%>

            <% } %>
        </div>
        <br>

        <%- partial("../../base/product_tab.ejs") %>
        <%- partial("../../base/quote_button.ejs") %>

    <%} else {%>
        <br>
        <p class="alert alert-warning text-center">There is no requested model.</p>
    <%}%>
</div>
