<div class="container">
    <h2 class="header">manage project image</h2>
    <br>

    <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
        <form method="post" enctype="multipart/form-data" id="fileupload" action="<%= sails.getUrlFor('ProjectController.apiImageCreate') %>">
            <div class="row fileupload-buttonbar">
                <div class="fileinput-group">
                    <button class="btn btn-primary fileinput-button btn-block">
                        Select images<br>or<br>drop them here
                    </button>
                    <input type="file" name="images" id="files" multiple required>
                </div>
                <br>

                <button type="reset" class="btn btn-warning cancel btn-block">Remove All Images</button>
                <br>
                <table id="pictureTable" role="presentation" class="table table-striped">
                    <tbody class="files"></tbody>
                </table>
                <input type="hidden" name="project" value="">
                <button type="button" class="start btn btn-success" id="start">Start</button>
            </div>
            <input type="submit" class="submit hide">
        </form>

        <a href="<%= sails.getUrlFor('ProjectController.manage') %>" class="btn btn-danger">Cancel</a>
    </div>
</div>

<%- partial('../base/template_download_progress.ejs') %>
<%- partial('../base/template_upload_progress.ejs') %>

<script type="text/javascript">
    $(".fileinput-button").click(function(e) {
        $("input[name='images']").trigger("click");
    });

    $("#submit").click(function(e) {
        var forms = $("form");
        var btnSubmits = $(".submit");

        if($("tbody.files").children().length < 1) {
            // if second form has no <tr>, we can consider,
            // it as no image to upload, trigger validation
            $(btnSubmits[0]).trigger("click");
        }
        else {
            $("#start").trigger("click");
        }
    });

    $(function () {
        $('#fileupload')
            .fileupload({
                stop: function(e, data) {
                    window.location.href = "<%= sails.getUrlFor('ProjectController.manage') %>";
                },
            })
    });
</script>
