<div class="container">
    <h2 class="header">manage project</h2>

    <a href="<%= sails.getUrlFor("ProjectController.create") %>" class="btn btn-default">
        Create
    </a>
    <a href="<%= sails.getUrlFor("AdminController.dashboard") %>" class="btn btn-primary">
        Back
    </a>
    <hr>

    <table class="table table-striped admin-table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Region</th>
                <th>Year</th>
                <th>Company</th>
                <th>Image</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% _.each(projects, function(project) { %>
                <tr>
                    <td><%= project.title %></td>
                    <td><%= project.desc %></td>
                    <td><%= project.region %></td>
                    <td><%= project.year %></td>
                    <td><%= project.company %></td>
                    <td><img src="<%=project.images[0]?project.images[0].url:''%>"></td>
                    <td>
                        <a href="<%= sails.getUrlFor("ProjectController.update").replace(":pid", project.id) %>" class="btn btn-primary"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                    </td>
                    <td>
                        <form method="post" action="<%= sails.getUrlFor('ProjectController.delete') %>">
                            <input type="hidden" name="pid" value="<%= project.id %>">
                            <button type="submit" class="btn btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                        </form>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</div>
