<div class="container">
    <h2 class="header"><%=__("projects")%></h2>
    <form method="get" action="<%=sails.getUrlFor('ProjectController.view')%>">
        <div class="filter-project">
            Filter By:
            <span class="filter-label">Region</span>
            <select name="region" class="form-control">
                <option value="">All</option>
                <%_.each(regionSet, function(r) {%>
                    <option value="<%=r%>" <%=region==r?"selected":""%>><%=r%></option>
                <%})%>
            </select>

            <span class="filter-label">Year</span>
            <select name="year" class="form-control">
                <option value="">All</option>
                <%for(var i=yearSet.length-1; i>=0; i--) {%>
                    <option value="<%=yearSet[i]%>" <%=year==yearSet[i]?"selected":""%>><%=yearSet[i]%></option>
                <%}%>
            </select>
            <input type="submit" value="Go" class="btn btn-default btn-block">
        </div>
    </form>
    <hr>

    <%- partial("../base/btn-project.ejs") %>

</div>

<script type="text/javascript">
    var _this = $("form");
    _this.submit(function(e) {
        e.preventDefault();

        var region = _this.find("select[name=region]").val();
        var year = _this.find("select[name=year]").val();
        var url = _this.attr("action");

        if(region || year)
            url += "?region=" + region + "&year=" + year;

        window.location.href = url;
    });
</script>
