<div class="container">
    <h2 class="header">manage file</h2>

    <a href="<%= sails.getUrlFor("FileController.create") %>" class="btn btn-default">
        Create
    </a>
    <a href="<%= sails.getUrlFor("AdminController.dashboard") %>" class="btn btn-primary">
        Back
    </a>
    <button class="btn btn-primary reorder pull-right">Save reorder</button>
    <hr>

    <table class="table table-striped admin-table">
        <thead>
            <tr>
                <th></th>
                <th>Category</th>
                <th>Type</th>
                <th>Title</th>
                <th>Description</th>
                <th>Image</th>
                <th>Url</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% _.each(files, function(file) { %>
                <tr data-id="<%=file.id%>">
                    <td class="sortable-handle"><i class="fa fa-bars" aria-hidden="true"></i></td>
                    <td><%= sails.config.enums.category[file.category] %></td>
                    <td><%= sails.config.enums.file[file.fileType] %></td>
                    <td><%= file.title %></td>
                    <td><%= file.desc %></td>
                    <td><img src="<%= file.image %>"></td>
                    <td><a href="<%= file.url %>" target="_blank">download</a></td>
                    <td>
                        <a href="<%= sails.getUrlFor("FileController.update").replace(":fid", file.id) %>" class="btn btn-primary"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                    </td>
                    <td>
                        <form method="post" action="<%= sails.getUrlFor('FileController.delete') %>">
                            <input type="hidden" name="fid" value="<%= file.id %>">
                            <button type="submit" class="btn btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                        </form>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</div>

<script type="text/javascript">
    var el = $(".admin-table tbody");
    var sortable = Sortable.create(el[0], {
        handle: ".sortable-handle",
        animation: 300,
    });

    $(".reorder").click(function(e) {
        var trs = $(".admin-table tbody tr");
        var order = [];

        for(var i=0; i<trs.length; i++) {
            order.push($(trs[i]).data("id"));
        }

        $.post(
                "<%= sails.getUrlFor("FileController.reorder") %>",
                {order: order}
            )
            .then(function(data) {
                location.reload();
            })
            .fail(function(err) {});
    });
</script>
