<div class="container">
    <%if(model) {%>

        <h2 class="header"><%=__(sails.config.enums.category["ds"])%></h2>
        <div class="row">
            <div class="col-sm-8 col-sm-push-2">
                <p class="text-justify"><%=__("ds-p1")%></p>
            </div>
        </div>
        <img src="/images/cert ds.jpg" class="img-responsive center-block product-cert">
        <br>

        <%- partial("../../base/fotorama.ejs") %>

        <br>

        <%- partial("../../base/product_tab.ejs") %>
        <%- partial("../../base/quote_button.ejs") %>

    <%} else {%>
        <br>
        <p class="alert alert-warning text-center">There is no requested model.</p>
    <%}%>
</div>
