<div class="container">
    <h3 class="header"><%=__("about-us")%></h3>
    <br>

    <div class="row">
        <div class="col-sm-6 col-sm-push-3 col-xs-12">
            <div class="text-justify">
                <%=__("about-p1")%>
            </div>
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-sm-10 col-sm-push-1">
            <img src="/images/certificate.jpg" class="img-responsive" alt="<%=__("certificates-from-world-wide")%>">
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-sm-6 col-sm-push-3 col-xs-12">
            <div class="text-justify">
                <%=__("about-p2")%>
            </div>
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-sm-8 col-sm-push-2">
            <img src="/images/map_world.jpg" class="img-responsive" alt="<%=__("product-distribute-worldwide")%>">
        </div>
    </div>
    <br>

    <br>
    <div class="row">
        <div class="col-sm-6 col-sm-push-3 col-xs-12">
            <div class="">
                <%=__("about-p3")%>
            </div>
        </div>
    </div>
    <br>

    <%for(var i=0; i<4; i++) {%>
        <div class="row">
            <div class="col-sm-6 col-xs-12 padding-bottom">
                <img src="/images/factory/00<%=i*2+1%>.jpg" class="img-responsive" alt="factory_00<%=i*2+1%>.jpg">
            </div>
            <div class="col-sm-6 col-xs-12 padding-bottom">
                <img src="/images/factory/00<%=i*2+2%>.jpg" class="img-responsive" alt="factory_00<%=i*2+2%>.jpg">
            </div>
        </div>
    <%}%>
    <div class="row">
        <div class="col-sm-6 col-xs-12 padding-bottom">
            <img src="/images/factory/009.jpg" class="img-responsive" alt="factory_009.jpg">
        </div>
        <div class="col-sm-6 col-xs-12 padding-bottom">
            <img src="/images/factory/010.jpg" class="img-responsive" alt="factory_010.jpg">
        </div>
    </div>
    <br>

</div>
