<div class="container">
    <h3 class="header"><%=__("careers")%></h3>
    <br>


    <div class="row">
        <div class="col-sm-6 col-sm-push-3 col-xs-12 careers">
            <div class="text-justify"><%=__("careers-p1")%></div>
            <br>
            <div class="contact red-text">
                <i class="fa fa-envelope icon-font"></i><a href="mailto:warangkana@pcjindustries.co.th">warangkana@pcjindustries.co.th</a>
            </div>
            <br>
            <div class="text-justify"><%=__("careers-p2")%></div>
            <br>
        </div>
    </div>

    <div class="row row-flex">
        <div class="col-sm-5 col-xs-12">
            <div class="business-card">
                <div class="name"><%=__("pcj-industries-company-limited")%> (<%=__("headquarters")%>)</div>
                <br>
                <div><%=__("199/24-25 Vibhavadeerangsit Road,")%></div>
                <div><%=__("Samsennai, Phayathai,")%></div>
                <div><%=__("Bangkok 10400, Thailand")%></div>
                <div><%=__("Mon - Sat 8:30AM - 5:30PM (ICT)")%></div>
                <br>
                <div class="contact">
                    <i class="fa fa-phone icon-font"></i><a href="tel:+66 2 279 4166">+66 2 279 4166</a>, <a href="tel:+66 2 616 0184">+66 2 616 0184</a>
                </div>
                <div class="contact">
                    <i class="fa fa-fax" aria-hidden="true"></i><a href="fax:+66 2 616 0071">+66 2 616 0071</a>
                </div>
            </div>
        </div>
        <div class="col-sm-7 col-xs-12 map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1937.4256265562192!2d100.55870885814502!3d13.787839002503276!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30e29c1c2587c115%3A0xcee1e7ba63cd8793!2sPCJ+INDUSTRIES+CO.%2C+LTD.!5e0!3m2!1sen!2s!4v1469266156356"></iframe>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 col-sm-push-3 careers">
            <div class="position-header"><%=__("job-positions-available")%></div>
            <div class="col-sm-6">
                <ul>
                    <li><%=__("Sales Executive(lnternational)")%></li>
                    <li><%=__("Sales Executive(Domestic)")%></li>
                    <li><%=__("Sales Coordinator")%></li>
                    <li><%=__("Marketing Executive")%></li>
                    <li><%=__("Purchasing Admin.")%></li>
                    <li><%=__("Accountant")%></li>
                    <li><%=__("Finance Staff")%></li>
                    <li><%=__("HR Admin.")%></li>
                </ul>
            </div>
            <div class="col-sm-6">
                <ul>
                    <li><%=__("Production Engineer")%></li>
                    <li><%=__("R&D Engineer")%></li>
                    <li><%=__("QA Engineer")%></li>
                    <li><%=__("Construction & Maintenance Engineer")%></li>
                    <li><%=__("CAD Operator")%></li>
                    <li><%=__("Operator/Technician")%></li>
                    <li><%=__("Warehouse Admin.")%></li>
                    <li><%=__("Production Admin.")%></li>
                </ul>
            </div>
        </div>
    </div>
</div>
