<div class="container">
    <h3 class="header"><%=__("contact-us")%></h3>
    <br>

    <div class="row row-flex">
        <div class="col-sm-5 col-xs-12">
                <div class="business-card">
                <div class="name"><%=__("pcj-industries-company-limited")%> (<%=__("headquarters")%>)</div>
                <br>
                <div><%=__("199/24-25 Vibhavadeerangsit Road,")%></div>
                <div><%=__("Samsennai, Phayathai,")%></div>
                <div><%=__("Bangkok 10400, Thailand")%></div>
                <div><%=__("Mon - Sat")%><span style="margin-left: 15px;" /><%=__("8:30AM - 5:30PM (ICT)")%></div>
                <br>
                <div class="contact">
                    <i class="fa fa-phone icon-font"></i><a href="tel:+66 2 279 4166">+66 2 279 4166</a>, <a href="tel:+66 2 616 0184">+66 2 616 0184</a>
                </div>
                <div class="contact">
                    <i class="fa fa-fax" aria-hidden="true"></i><a href="fax:+66 2 616 0071">+66 2 616 0071</a>
                </div>
                <div class="contact">
                    <i class="fa fa-envelope icon-font"></i><a href="mailto:sales@pcjindustries.co.th">sales@pcjindustries.co.th</a>
                </div>
            </div>
        </div>
        <div class="col-sm-7 col-xs-12 map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d242.17815034861803!2d100.55958969822574!3d13.787890070907615!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30e29c3900acb641%3A0x9bc8d88eddc2c0e8!2z4Lia4Lij4Li04Lip4Lix4LiXIOC4nuC4teC4i-C4teC5gOC4iCDguK3guLjguJXguKrguLLguKvguIHguKPguKPguKEg4LiI4Liz4LiB4Lix4LiU!5e0!3m2!1sen!2sus!4v1562645964776!5m2!1sen!2sus"></iframe>
        </div>
    </div>

    <div class="row row-flex">
        <div class="col-sm-5 col-xs-12">
            <div class="business-card">
                <div class="name"><%=__("factory")%><br>
                </div>
                <br>
                <div><%=__("45/2 Kaengkhoi-Salaengpan Road, Moo 8,")%></div>
                <div><%=__("Banpa, Kaengkhoi,")%></div>
                <div><%=__("Saraburi 18110, Thailand")%></div>
                <div><%=__("Mon - Sat")%><span style="margin-left: 15px;" /><%=__("8:30AM - 5:30PM (ICT)")%></div>
                <br>
                <div class="contact">
                    <i class="fa fa-phone icon-font"></i><a href="tel:+66 36 262 333">+66 36 262 333</a>
                </div>
                <div class="contact">
                    <i class="fa fa-fax" aria-hidden="true"></i><a href="fax:+66 36 262 334">+66 36 262 334</a>
                </div>
                <div class="contact">
                    <i class="fa fa-envelope icon-font"></i><a href="mailto:sales@pcjindustries.co.th">sales@pcjindustries.co.th</a>
                </div>
            </div>
        </div>
        <div class="col-sm-7 col-xs-12 map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3860.7119250116843!2d101.01420212434525!3d14.615479504509283!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x311ddd1af4ee16c1%3A0xd3f0ffd50ee206fd!2sPCJ+Industry+Co.%2C+Ltd.!5e0!3m2!1sen!2s!4v1469268505549"></iframe>
        </div>
    </div>
</div>
