<div class="owl-carousel carousel-view">
    <%for(var i=1;i<=5;i++) {%>
        <div class="item">

        <%if(locale=="en") {%>
            <img src="/images/carousel_<%=i%>.jpg" class="img-responsive center-block" alt="slide-<%=i%>">
        <%} else {%>
            <img src="/images/carousel_<%=i%>_th.jpg" class="img-responsive center-block" alt="slide-<%=i%>">
        <%}%>

        </div>
    <%}%>
</div>
<br>

<div class="container">
    <div class="row">
        <h3 class="header"><%=__("news")%></h3>
        <div class="row">
            <% _.each(newses, function(news) { %>
                <div class="col-sm-6">
                    <div class="row news-list">
                        <a href="<%=sails.getUrlFor('NewsController.viewDetails').replace(':nid', news.id)%>" class="news" target="_blank">
                            <div class="img-frame" style="background-image:url('<%=news.images[0]?news.images[0].url:''%>')">
                            </div>
                            <div class="content-short">
                                <div class="title"><%=news.title%></div>
                                <div class="content"><%-news.content%></div>
                            </div>
                        </a>
                    </div>
                </div>
            <%})%>
        </div>
    </div>
    <hr>

    <h3 class="header" style="text-transform: uppercase;"><%=__("quality-you-can-trust")%></h3>
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <p class="text-justify">
                <%=__("quality-you-can-trust-detail-p1")%> <%=(new Date().getFullYear())-1998%> <%=__("quality-you-can-trust-detail-p2")%>
            </p>
        </div>
    </div>
    <div class="row">
        <img src="/images/certificate.jpg" class="img-responsive">
    </div>
    <hr>

    <h3 class="header"><%=__("products")%></h3>
    <div class="row row-flex">
        <div class="col-sm-3 col-xs-12 tag-container category">
            <a href="<%= sails.getUrlFor('ProductController.fsd') %>" class="catg-button">
                <div class="img-frame"><img src="/images/fire_doors.jpg"></div>
                <div class="catg-label"><%-__("fire-steel-doors").replace(__("amp"), __("amp")+"<br>")%></div>
            </a>
        </div>
        <div class="col-sm-3 col-xs-12 tag-container category">
            <a href="<%= sails.getUrlFor('ProductController.fd') %>" class="catg-button">
                <div class="img-frame"><img src="/images/fire_dampers.jpg"></div>
                <div class="catg-label"><%=__("fire-dampers")%></div>
            </a>
        </div>
        <div class="col-sm-3 col-xs-12 tag-container category">
            <a href="<%= sails.getUrlFor('ProductController.dd') %>" class="catg-button">
                <div class="img-frame"><img src="/images/duct_dampers.jpg"></div>
                <div class="catg-label"><%=__("duct-dampers")%></div>
            </a>
        </div>
        <div class="col-sm-3 col-xs-12 tag-container category">
            <a href="<%= sails.getUrlFor('ProductController.ds') %>" class="catg-button">
                <div class="img-frame"><img src="/images/duct_silencers.jpg"></div>
                <div class="catg-label"><%-__("duct-silencers-br")%></div>
            </a>
        </div>
        <div class="col-sm-3 col-xs-12 tag-container category">
            <a href="<%= sails.getUrlFor('ProductController.ao') %>" class="catg-button">
                <div class="img-frame"><img src="/images/air_outlets.jpg"></div>
                <div class="catg-label"><%=__("air-outlets")%></div>
            </a>
        </div>
    </div>
    <br>
    <hr>

    <h3 class="header"><%=__("projects")%></h3>

    <%- partial("base/btn-project.ejs") %>

    <br>
    <div class="text-center">
        <a href="<%= sails.getUrlFor('ProjectController.view') %>" class="btn btn-default text-capitalize"><%=__("view-all")%></a>
    </div>
    <br>
</div>

<script type="text/javascript">
    $(function(){
        $(".owl-carousel").owlCarousel({
            items: 1,
            loop: true,
            nav: true,
            navText: [
                    '<i class="fa fa-chevron-left" aria-hidden="true"></i>',
                    '<i class="fa fa-chevron-right" aria-hidden="true"></i>'],
            autoplay: true,
            autoplayTimeout: 5500,
            smartSpeed: 500,
        });
    });
</script>
