<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%=typeof title == "undefined" ? __("seo-home-title") : __(title)%></title>
    <meta name="keywords" content="<%=typeof metaKeyword == "undefined" ? __('seo-home-meta-keyword') : __(metaKeyword)%>">
    <meta name="description" content="<%=typeof metaDesc == "undefined" ? __('seo-home-meta-desc') : __(metaDesc)%>">
    <meta name="robots" content="index, <%=typeof follow == "undefined" ? 'follow': 'nofollow'%>">

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/featherlight.css">
    <link rel="stylesheet" href="/styles/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/fotorama.css">
    <link rel="stylesheet" href="/styles/owl.carousel.css">
    <link rel="stylesheet" href="/styles/quill.1_snow.css">
    <link rel="stylesheet" href="/styles/quill.2_advanced.css">
    <link rel="stylesheet" href="/styles/yamm.css">
    <link rel="stylesheet" href="/styles/z-importer.css">
    <!--STYLES END-->

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/jquery-2.2.4.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/featherlight.js"></script>
    <script src="/js/fotorama.min.js"></script>
    <script src="/js/lodash.js"></script>
    <script src="/js/owl.carousel.js"></script>
    <script src="/js/quill.min.js"></script>
    <script src="/js/Sortable.js"></script>
    <script src="/js/utils.js"></script>
    <!--SCRIPTS END-->

    <script src="/js/manual/vendor/jquery.ui.widget.js"></script>
    <script src="/js/manual/tmpl.min.js"></script>
    <script src="/js/manual/load-image.all.min.js"></script>
    <script src="/js/manual/canvas-to-blob.min.js"></script>
    <script src="/js/manual/jquery.blueimp-gallery.min.js"></script>
    <script src="/js/manual/jquery.iframe-transport.js"></script>
    <script src="/js/manual/jquery.fileupload.js"></script>
    <script src="/js/manual/jquery.fileupload-process.js"></script>
    <script src="/js/manual/jquery.fileupload-image.js"></script>
    <script src="/js/manual/jquery.fileupload-audio.js"></script>
    <script src="/js/manual/jquery.fileupload-video.js"></script>
    <script src="/js/manual/jquery.fileupload-validate.js"></script>
    <script src="/js/manual/jquery.fileupload-ui.js"></script>
  </head>

  <body>
    <!--TEMPLATES-->
    <script type="text/javascript" src="/jst.js"></script>
    <!--TEMPLATES END-->

    <%- partial("base/header.ejs") %>
    <%- partial("flash.ejs") %>
    <%- body %>
    <%- partial("base/footer.ejs") %>
  </body>
</html>
