<div class="container">
    <h2 class="header">manage hardware</h2>

    <a href="<%= sails.getUrlFor("ProductController.hardwareCreate") %>" class="btn btn-default">
        Create
    </a>
    <a href="<%= sails.getUrlFor("AdminController.dashboard") %>" class="btn btn-primary">
        Back
    </a>
    <hr>

    <table class="table table-striped admin-table">
        <thead>
            <tr>
                <th>Type</th>
                <th>Title</th>
                <th>Description</th>
                <th>Image</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% _.each(hardwares, function(hardware) { %>
                <tr>
                    <td><%= sails.config.enums.hardware[hardware.hardware] %></td>
                    <td><%= hardware.title %></td>
                    <td><%= hardware.desc %></td>
                    <td><img src="<%= hardware.image %>"></td>
                    <td>
                        <a href="<%= sails.getUrlFor("ProductController.hardwareUpdate").replace(":hid", hardware.id) %>" class="btn btn-primary"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                    </td>
                    <td>
                        <form method="post" action="<%= sails.getUrlFor('ProductController.hardwareDelete') %>">
                            <input type="hidden" name="hid" value="<%= hardware.id %>">
                            <button type="submit" class="btn btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                        </form>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</div>
