<div class="container">
    <h2 class="header">create product hardware</h2>
    <br>

    <form method="post" class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3" enctype="multipart/form-data">
        <div class="img-frame"><img src="<%= hardware.image %>"></div><br>
        <input type="file" name="image" class="form-control"><br>
        <select name="hardware" class="form-control">
            <% for(var key in sails.config.enums.hardware) { %>
                <option value="<%= key %>" <% if(hardware.hardware==key) { %> selected <% } %> ><%= sails.config.enums.hardware[key] %></option>
            <% } %>
        </select><br>
        <input type="text" name="title" placeholder="title" class="form-control" required value="<%= hardware.title %>"><br>
        <textarea rows="5" name="desc" placeholder="desc" class="form-control" required><%= hardware.desc %></textarea><br>

        <input type="submit" value="Update" class="btn btn-success">
        <a href="<%= sails.getUrlFor('ProductController.hardwareManage') %>" class="btn btn-danger">Cancel</a>
    </form>
</div>
