<div class="container">
    <h2 class="header"><%=__("duct-dampers")%></h2>
    <div class="row">
        <div class="col-sm-8 col-sm-push-2">
            <p class="text-justify"><%=__("dd-p1")%></p>
        </div>
    </div>
    <img src="/images/cert dd.jpg" class="img-responsive center-block product-cert">
    <hr>

    <%if(types.length>0) {%>

        <%- partial("../../base/carousel_type.ejs") %>
        <br>

        <% _.each(types, function(type) {
            url = sails.getUrlFor('ProductController.ddModel');
            models = type.models;
        %>
            <div id="btn-model-container-<%= type.id %>" class="btn-model-container">
                <%- partial("../btn-model.ejs") %>
            </div>
        <% }) %>
    <%} else {%>
        <p class="alert alert-warning text-center">There are no models available at this time.</p>
    <%}%>
</div>

<script type="text/javascript">
    $(".btn-model-container").hide();
</script>
