<div class="container">
    <h2 class="text-center text-capitalize"><strong>Duct Dampers</strong></h2>
    <p class="text-center">Plenty types of our duct dampers are available to meet any of your requirements</p>
    <hr>

    <div class="owl-carousel carousel-browse type">
        <% _.each(types, function(type) { %>
            <a href="<%= sails.getUrlFor('ProductController.ductDamperType').replace(':tid', type.id) %>" class="item-button type">
                <div class="img-frame" style="background-image:url('<%= type.image %>')"></div>
                <div class="item-title"><%= type.title %></div>
                <% if(tid!=type.id) { %>
                    <div class="blur-mask"></div>
                <% } %>
            </a>
        <% }) %>
    </div>
    <br>

    <%- partial("../base/carousel_model.ejs") %>

    <%- partial("../base/fotorama.ejs") %>

    <h2 class="text-center text-capitalize"><strong>Option you can choose</strong></h2>
    <div class="option-container">
        <div class="row">
            <div class="col-sm-2 col-sm-offset-1 col-xs-2 option-label">Size</div>
            <div class="col-sm-9 col-xs-10 option-detail">Available upon request</div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-sm-offset-1 col-xs-2 option-label">fire rating</div>
            <div class="col-sm-9 col-xs-10 option-detail">0-3 hours (3 Hours in accordance with UL10C)</div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-sm-offset-1 col-xs-2 option-label">door type</div>
            <div class="col-sm-9 col-xs-10 option-detail">single door, double door / flush, flush with vision panel, flush with louver, embossed</div>
        </div>
    </div>
    <br>

    <%- partial("../base/product_tab.ejs") %>

    <%- partial("../base/quote_button.ejs") %>

</div>

<script type="text/javascript">
    $(window).load(function() {
        function setCarousel(carousel) {
            var buttons = carousel.find(".item-button");
            var imgsFrame = carousel.find(".img-frame");
            var imgs = imgsFrame.find("img");

            carousel.owlCarousel({
                nav: true,
                dots: true,
                navText: [
                        '<i class="fa fa-chevron-left" aria-hidden="true"></i>',
                        '<i class="fa fa-chevron-right" aria-hidden="true"></i>'],
                rewind: true,
                responsive: {
                        0: {items: 1,},
                        768: {items: 2,},
                        992: {items: 3,},},
                onRefresh: function() {
                    buttons.css("min-height", "");
                },
                onRefreshed: function () {
                    var maxHeightImg = Math.max.apply(
                        null,
                        imgs.map(function() {
                                return $(this).outerHeight()}).get()
                    );
                    imgsFrame.css("min-height", maxHeightImg);

                    var maxHeightButton = Math.max.apply(
                        null,
                        buttons.map(function() {
                                return $(this).outerHeight()}).get()
                    );
                    buttons.css("min-height", maxHeightButton);
                },
            });
        }

        $(".carousel-browse").each(function(index, carousel) {
            setCarousel($(carousel));
        });
    });

    // Function to initiate fotorama and change thumbnail label
    function initFotorama() {
        var f = $('.fotorama');
        f.fotorama();
        $('.fotorama').on(
            'fotorama:show',
            function (e, fotorama, extra) {
                try {
                    $(".thumbnail-label").text(fotorama.activeFrame.label);
                }
                catch(e) {}
            }
        );
    }

    $(function() {
        initFotorama();
    });

    // function to update product carousel when click on model carousel
    $("a.item-button.model").click(function() {
        var mid = this.href.split("#").reverse()[0];
        var url = "<%= sails.getUrlFor('ProductController.apiGetProduct') %>".replace(":mid", mid);
        $.get(url, function(data) {
            $(".thumbnail-container").html(JST['assets/templates/fotorama.ejs']({
                products: data,
            }));

            initFotorama();
        });
    });
</script>
