<%if(projects.length > 0) {%>
    <div class="project-container">
        <div class="row">
            <% _.each(projects, function(project, i) {
                var imgUrl = project.images[0] ? project.images[0].url : "/images/image_404.jpg";
            %><div class="col-sm-4 col-xs-12 tag-container project">
                    <div class="col-sm-12" data-pid="<%= project.id %>">
                        <div class="img project" style="background-image:url('<%=imgUrl%>')"></div>
                        <div class="tag-label"><%= project.title %> (<%=project.country%>)</div>
                    </div>
            </div><% }) %>
        </div>
    </div>

    <script type="text/javascript">
        $(".tag-container.project>div").click(function(e) {
            e.preventDefault();

            var _this = $(this);
            var url = "<%= sails.getUrlFor('ProjectController.apiGetProject') %>".replace(":pid", _this.data("pid"));
            $.get(url, function(data) {
                $.featherlight(JST["assets/templates/lightbox.ejs"]({
                    project: data.project,
                    wLocation: data.wLocation,
                    wCompany: data.wCompany,
                    wYear: data.wYear,
                }));

                initFotorama();
            });
        });
    </script>
<%} else {%>
    <p class="alert alert-warning text-center"><%=__("no-project-matches")%></p>
<%}%>
