<nav class="navbar-default navbar-fixed-top">
    <div class="container" style="padding-right: 15px;">
        <div class="pull-right red-text">
            <%- partial("quick_contact.ejs") %>
        </div>
    </div>
</nav>

<nav class="navbar navbar-custom navbar-default navbar-static-top yamm">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar top-bar"></span>
                <span class="icon-bar middle-bar"></span>
                <span class="icon-bar bottom-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <% var logoLang = req.getLocale()=="en"?"pcj-logo-full-en.jpg":"pcj-logo-full-th.jpg";%>
                <img class="hidden-md hidden-sm hidden-xs company-brand" src="/images/<%=logoLang%>" alt="<%=__('pcj-industries')%>">
                <img class="visible-md visible-sm visible-xs company-brand" src="/images/pcj-logo.jpg" alt="<%=__('pcj')%>">
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav-custom navbar-nav navbar-right">
                <li><a href="<%=sails.getUrlFor('HomeController.about')%>"><%=__("about")%></a></li>
                <li class="dropdown yamm-fw">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%=__("products")%> <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>
                            <div class="yamm-content">
                                <div class="row-flex" id="dropdown-menu-container">
                                    <div class="col-sm-3 col-xs-6 tag-container category">
                                        <a href="<%= sails.getUrlFor('ProductController.fsd') %>" class="catg-button">
                                            <div class="img-frame"><img src="/images/fire_doors.jpg"></div>
                                            <div class="catg-label"><%-__("fire-steel-doors").replace(__("amp"), __("amp")+"<br>")%></div>
                                        </a>
                                    </div>
                                    <div class="col-sm-3 col-xs-6 tag-container category">
                                        <a href="<%= sails.getUrlFor('ProductController.fd') %>" class="catg-button">
                                            <div class="img-frame"><img src="/images/fire_dampers.jpg"></div>
                                            <div class="catg-label"><%=__("fire-dampers")%></div>
                                        </a>
                                    </div>
                                    <div class="col-sm-3 col-xs-6 tag-container category">
                                        <a href="<%= sails.getUrlFor('ProductController.dd') %>" class="catg-button">
                                            <div class="img-frame"><img src="/images/duct_dampers.jpg"></div>
                                            <div class="catg-label"><%=__("duct-dampers")%></div>
                                        </a>
                                    </div>
                                    <div class="col-sm-3 col-xs-6 tag-container category">
                                        <a href="<%= sails.getUrlFor('ProductController.ds') %>" class="catg-button">
                                            <div class="img-frame"><img src="/images/duct_silencers.jpg"></div>
                                            <div class="catg-label"><%-__("duct-silencers-br")%></div>
                                        </a>
                                    </div>
                                    <div class="col-sm-3 col-xs-6 tag-container category">
                                        <a href="<%= sails.getUrlFor('ProductController.ao') %>" class="catg-button">
                                            <div class="img-frame"><img src="/images/air_outlets.jpg"></div>
                                            <div class="catg-label"><%=__("air-outlets")%></div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <li><a href="<%= sails.getUrlFor('ProjectController.view') %>"><%=__("projects")%></a></li>
                <li><a href="<%= sails.getUrlFor('NewsController.viewList') %>"><%=__("news")%></a></li>
                <li><a href="<%=sails.getUrlFor('HomeController.contact')%>"><%=__("contact")%></a></li>
                <li><a href="<%=sails.getUrlFor('HomeController.careers')%>"><%=__("careers")%></a></li>
                <li><a href="#" class="icon-lang" data-lang="en" rel="nofollow"><img src="/images/flag_en.png" alt="english"></a></li>
                <li><a href="#" class="icon-lang" data-lang="th" rel="nofollow"><img src="/images/flag_th.png" alt="thai"></a></li>
            </ul>
        </div>
    </div>
</nav>

<script type="text/javascript">
    $("a.icon-lang").click(function(e) {
        e.preventDefault();

        var lang = $(e.currentTarget).data("lang");
        $.get("<%=sails.getUrlFor('HomeController.apiSetLang')%>"+"?lang="+lang, function(data) {
            location.reload();
        });
    });
</script>
