<label>Description EN</label>
<div id="content-container-desc">
    <div class="wrapper">

        <%- partial("../base/quill-toolbar-min.ejs") %>

        <div class="editor-container">
            <%if(typeof model != "undefined") {%>
                <%-model.desc||""%>
            <%} else if(typeof hardware != "undefined") {%>
                <%-hardware.desc||""%>
            <%} else {%>
                <%-""%>
            <%}%>
        </div>
    </div>
</div>
<br>

<label>Description TH</label>
<div id="content-container-desc-th">
    <div class="wrapper">

        <%- partial("../base/quill-toolbar-min.ejs") %>

        <div class="editor-container">
            <%if(typeof model != "undefined") {%>
                <%-model.desc_th||""%>
            <%} else if(typeof hardware != "undefined") {%>
                <%-hardware.desc_th||""%>
            <%} else {%>
                <%-""%>
            <%}%>
        </div>
    </div>
</div>
<br>

<textarea rows="5" name="desc" placeholder="desc" class="form-control hide"></textarea>
<textarea rows="5" name="desc_th" placeholder="desc_th" class="form-control hide"></textarea>

<script type="text/javascript">
    var allowFormats = ["bold", "italic", "underline", "link", "list", "bullet"];

    var editorEn = new Quill("#content-container-desc .wrapper .editor-container", {
        modules: {
            "toolbar": {
                container: "#content-container-desc .wrapper .ql-toolbar.ql-snow"
            },
        },
        theme: "snow",
        formats: allowFormats,
    });

    var editorTh = new Quill("#content-container-desc-th .wrapper .editor-container", {
        modules: {
            "toolbar": {
                container: "#content-container-desc-th .wrapper .ql-toolbar.ql-snow"
            },
        },
        theme: "snow",
        formats: allowFormats,
    });

    $("form").submit(function(e) {
        $(e.currentTarget).find("textarea[name=desc]").val(
            $(editorEn.container).find(".ql-editor").html()
        );
        $(e.currentTarget).find("textarea[name=desc_th]").val(
            $(editorTh.container).find(".ql-editor").html()
        );
        return true;
    });
</script>
