<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#desc"><%=__("description")%></a></li>
    <%if(certs.length>0) {%><li><a data-toggle="tab" href="#cert"><%=__("certificate")%></a></li><%}%>
    <%if(insts.length>0) {%><li><a data-toggle="tab" href="#inst"><%=__("installation")%></a></li><%}%>
    <%if(catgs.length>0) {%><li><a data-toggle="tab" href="#catg"><%=__("catalogue")%></a></li><%}%>
</ul>

<div class="tab-content">
    <div id="desc" class="tab-pane fade in active">
        <div class="row">
            <div class="col-md-9 col-sm-10 col-xs-12 text-justify">
                <%-model.desc||__("description")%>
            </div>
        </div>
    </div>
    <%if(certs.length>0) {%>
        <div id="cert" class="tab-pane fade">
            <%_.each(certs, function(cert) {%>
                <div class="btn-cert">
                    <a href="<%=cert.url%>" target="_blank">
                        <div class="img-frame"><img src="<%=cert.image || '/images/file.jpg'%>" alt="<%=cert.title%>"></div>
                        <div class="title"><%=cert.title%></div>
                    </a>
                </div>
            <%})%>
        </div>
    <%}%>
    <%if(insts.length>0) {%>
        <div id="inst" class="tab-pane fade">
            <%_.each(insts, function(inst) {%>
                <div class="btn-cert">
                    <a href="<%=inst.url%>" target="_blank">
                        <div class="img-frame"><img src="<%=inst.image || '/images/file.jpg'%>" alt="<%=inst.title%>"></div>
                        <div class="title"><%=inst.title%></div>
                    </a>
                </div>
            <%})%>
        </div>
    <%}%>
    <%if(catgs.length>0) {%>
        <div id="catg" class="tab-pane fade">
            <%_.each(catgs, function(catg) {%>
                <div class="btn-cert">
                    <a href="<%=catg.url%>" target="_blank">
                        <div class="img-frame"><img src="<%=catg.image || '/images/file.jpg'%>" alt="<%=catg.title%>"></div>
                        <div class="title"><%- catg.title.replace(__("amp"), "<br>"+__("amp")) %></div>
                    </a>
                </div>
            <%})%>
        </div>
    <%}%>
</div>
<hr>
