<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#desc"><%=__("description")%></a></li>
    <li><a data-toggle="tab" href="#cert"><%=__("certificate")%></a></li>
    <li><a data-toggle="tab" href="#inst"><%=__("installation")%></a></li>
    <li><a data-toggle="tab" href="#catg"><%=__("catalogue")%></a></li>
</ul>

<div class="tab-content">
    <div id="desc" class="tab-pane fade in active">
        <div class="row">
            <div class="col-md-9 col-sm-10 col-xs-12 text-justify">
                <%-model.desc||__("description")%>
            </div>
        </div>
    </div>
    <div id="cert" class="tab-pane fade">
        <%if(certs.length>0) {%>
            <%_.each(certs, function(cert) {%>
                <div class="btn-cert">
                    <a href="<%=cert.url%>" target="_blank">
                        <div class="img-frame"><img src="<%=cert.image || '/images/file.jpg'%>" alt="<%=cert.title%>"></div>
                        <div class="title"><%=cert.title%></div>
                    </a>
                </div>
            <%})%>
        <%} else {%>
            <%=__("no-file-available")%>
        <%}%>
    </div>
    <div id="inst" class="tab-pane fade">
        <%if(insts.length>0) {%>
            <%_.each(insts, function(inst) {%>
                <div class="btn-cert">
                    <a href="<%=inst.url%>" target="_blank">
                        <div class="img-frame"><img src="<%=inst.image || '/images/file.jpg'%>" alt="<%=inst.title%>"></div>
                        <div class="title"><%=inst.title%></div>
                    </a>
                </div>
            <%})%>
        <%} else {%>
            <%=__("no-file-available")%>
        <%}%>
    </div>
    <div id="catg" class="tab-pane fade">
        <%if(catgs.length>0) {%>
            <%_.each(catgs, function(catg) {%>
                <div class="btn-cert">
                    <a href="<%=catg.url%>" target="_blank">
                        <div class="img-frame"><img src="<%=catg.image || '/images/file.jpg'%>" alt="<%=catg.title%>"></div>
                        <div class="title"><%=catg.title%></div>
                    </a>
                </div>
            <%})%>
        <%} else {%>
            <%=__("no-file-available")%>
        <%}%>
    </div>
</div>
<hr>
