<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#desc">description</a></li>
    <li><a data-toggle="tab" href="#cert">certificate</a></li>
    <li><a data-toggle="tab" href="#inst">installation</a></li>
    <li><a data-toggle="tab" href="#catg">catalogue</a></li>
</ul>

<div class="tab-content">
    <div id="desc" class="tab-pane fade in active">
        desccription
    </div>
    <div id="cert" class="tab-pane fade">
        <%_.each(certs, function(cert) {%>
            <div class="btn-cert">
                <a href="<%=cert.image%>">
                    <div class="img-frame"><img src="<%=cert.url%>"></div>
                    <div class="title">download</div>
                </a>
            </div>
        <%})%>
    </div>
    <div id="inst" class="tab-pane fade">
        <%_.each(insts, function(inst) {%>
            <div class="btn-cert">
                <a href="<%=inst.image%>">
                    <div class="img-frame"><img src="<%=inst.url%>"></div>
                    <div class="title">download</div>
                </a>
            </div>
        <%})%>
    </div>
    <div id="catg" class="tab-pane fade">
        <%_.each(catgs, function(catg) {%>
            <div class="btn-cert">
                <a href="<%=catg.image%>">
                    <div class="img-frame"><img src="<%=catg.url%>"></div>
                    <div class="title">download</div>
                </a>
            </div>
        <%})%>
    </div>
</div>
<hr>
