<div class="container">
    <%if(model) {%>
        <h2 class="header"><%=__("type")%> : <%= model.type.title %></h2>
        <h3 class="header"><%=__("model")%> : <%= model.title %></h3>

        <%- partial("../../base/fotorama.ejs") %>

        <br>

        <%- partial("../../base/product_tab.ejs") %>
        <%- partial("../../base/quote_button.ejs") %>

    <%} else {%>
        <br>
        <p class="alert alert-warning text-center">There is no requested model.</p>
    <%}%>
</div>
