<div id="lightbox" class="lightbox">
    <div class="col-sm-3 col-sm-push-9 lightbox-text">
        <div class="title"><%= project.title %></div>
        <div class="desc"><%= project.desc %></div>
    </div>
    <div class="col-sm-9 col-sm-pull-3 thumbnail-container">
        <div
            class="fotorama"
            data-nav="thumbs"
            data-width="100%"
            data-height="60%"
            data-arrows="false"
            data-click="false"
            data-thumbmargin="5">
            <img src="<%= project.image[0] %>" width="50" height="50">
            <img src="<%= project.image[0] %>" width="50" height="50">
            <img src="<%= project.image[0] %>" width="50" height="50">
            <img src="<%= project.image[0] %>" width="50" height="50">
            <img src="<%= project.image[0] %>" width="50" height="50">
            <img src="/images/project_004.jpg" width="50" height="50">
            <img src="/images/project_005.jpg" width="50" height="50">
        </div>
    </div>
</div>
