<div id="lightbox" class="lightbox">
    <div><%= project.title %></div>
    <div><%= project.desc %></div>

    <div class="thumbnail-container">
        <div
            class="fotorama"
            data-nav="thumbs"
            data-width="100%"
            data-height="70%"
            data-arrows="false"
            data-click="false"
            data-thumbmargin="10">
            <img src="<%= project.image[0] %>" width="50" height="50">
            <img src="<%= project.image[0] %>" width="50" height="50">
            <img src="<%= project.image[0] %>" width="50" height="50">
            <img src="<%= project.image[0] %>" width="50" height="50">
            <img src="<%= project.image[0] %>" width="50" height="50">
            <img src="/images/project_004.jpg" width="50" height="50">
            <img src="/images/project_005.jpg" width="50" height="50">
        </div>
    </div>



</div>
