<%var i=0%>
<div class="container">
    <div class="row news-details">
        <div class="col-md-8 col-md-push-2 col-sm-10 col-sm-push-1">
            <div class="img-frame">
                <img src="<%=news.images[i++].url%>" alt="<%=news.title+'-'+i%>">
            </div>
            <h2 class="header"><%=news.title%></h2>
            <%-news.content%>
            <%for(; i<news.images.length; i++) {%>
                <div class="img-frame">
                    <img src="<%=news.images[i].url%>" alt="<%=news.title+'-'+i%>">
                </div>
            <%}%>
            <br>
            <br>

            <div
                class="fb-like"
                data-share="true"
                data-width="450"
                data-show-faces="true"
                style="margin-top: 15px;">
            </div>
            <br>
            <br>

            <div
                class="fb-comments"
                data-href="<%=sails.config.appUrl.base + sails.getUrlFor('NewsController.viewDetails').replace(':nid', news.id)%>"
                data-width="100%"
                data-numposts="5"
                data-order-by="social">
            </div>
        </div>
    </div>
</div>
