<div class="container">
    <%if(model) {%>
        <h3 class="header"><%=__("model")%> : <%= model.title %></h3>

        <%- partial("../../base/fotorama.ejs") %>

        <h3 class="header"><%=__("option-you-can-choose")%></h3>
        <div class="option-container">
            <div class="row">
                <div class="col-sm-2 col-sm-offset-1 col-xs-2 option-label"><%=__("size")%></div>
                <div class="col-sm-9 col-xs-10 option-detail"><%=__("available-upon-request")%></div>
            </div>
            <div class="row">
                <div class="col-sm-2 col-sm-offset-1 col-xs-2 option-label"><%=__("fire-rating")%></div>
                <div class="col-sm-9 col-xs-10 option-detail"><%=__("0-3-hours")%></div>
            </div>
        </div>
        <br>

        <%- partial("../../base/product_tab.ejs") %>
        <%- partial("../../base/quote_button.ejs") %>

    <%} else {%>
        <br>
        <p class="alert alert-warning text-center">There is no requested model.</p>
    <%}%>
</div>
