<div class="container">
    <h2 class="header">manage model</h2>

    <a href="<%= sails.getUrlFor("ModelController.create") %>" class="btn btn-default">
        Create
    </a>
    <a href="<%= sails.getUrlFor("AdminController.dashboard") %>" class="btn btn-primary">
        Back
    </a>
    <hr>

    <table class="table table-striped admin-table">
        <thead>
            <tr>
                <th>Type</th>
                <th>Title</th>
                <th>Image</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% _.each(models, function(model) { %>
                <tr>
                    <td><%= model.type.title %></td>
                    <td><%= model.title %></td>
                    <td><img src="<%= model.image %>"></td>
                    <td>
                        <a href="<%= sails.getUrlFor("ModelController.update").replace(":mid", model.id) %>" class="btn btn-primary"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                    </td>
                    <td>
                        <form method="post" action="<%= sails.getUrlFor('ModelController.delete') %>">
                            <input type="hidden" name="mid" value="<%= model.id %>">
                            <button type="submit" class="btn btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                        </form>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</div>
